//  --------------------------------------------------------------------------------
//  Contains all application-wide Sass variables
//  --------------------------------------------------------------------------------

/// Regular font family


/// Text color
$text-color: #FFFFFF !default;

/// 
$link-color: #D8252D !default;

/// Main brand color
$brand-color-primary: #000030 !default;
$brand-color-secondary: #FFFFFF !default;
$brand-color-highlight: #D8252D !default;

/// Breakpoints map
$breakpoints: (
    'mobile-small': 240px,
    'mobile-large': 320px,
    'tablet-small': 480px,
    'tablet-large': 768px,
    'screen-small': 1024px,
    'screen-large': 1280px,
) !default;


/// Relative URL where all assets are served from
/// @type String
/// @exmple scss When using on your own domain
/// $base-url: 'https://your-own-domain.com/assets/';
$base-url: '/assets/' !default; 