/**
resets-------------------------------------------------------------------------------
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size:62.5%;
}

body {
    box-sizing: border-box;
}

/**
 * Basic styles for links
 */
a {
    color: $brand-color-primary;
    text-decoration: none;

    @include hover-focus-active {
        color: $text-color;
        text-decoration: underline;
    }
}