//  --------------------------------------------------------------------------------
//  Contains very basic styles
//  --------------------------------------------------------------------------------

/**
 * Basic styles for links
 */
a {
    color: $brand-color-primary;
    text-decoration: none;

    @include hover-focus-active {
        color: $text-color;
        text-decoration: underline;
    }
}